.dash{
    height: 100px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
}
.icondash{
    width: 30px !important;
    height: 30px !important;
    color: #fff;
    margin-top: 20px;
}
.dash span{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    font-size: 14px;
}