.explore{
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    white-space: nowrap;
    z-index: 2;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    border-radius: 30px;
    border: none;
}
.intro_text{
        margin-bottom: 50px;
        font-weight: 600;
        color: #929191;
}