.listRoom{
    width: 100%;
    margin-top: 30px;
}
.listRoom th{
    border-top: 1px solid #dee2e6;
    border-bottom:2px solid #dee2e6;
    padding-left: 10px;
    height: 50px;
}
.listRoom td{
    border-bottom:1px solid #dee2e6;
    padding-left: 10px;
    height: auto;
    color: #3e5569;
}