.imgRoom{
    width: 100%;
}
.reservation{
    background-color:#b0914f;
}
.reservation h3{
    font-family: "Cinzel Decorative";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.reservation input{
    width: 100%;
    margin: 0 10px 5px 10px;
    border-right: 0;
    box-shadow: 0 0 0;
    border:none;
    border-radius: 0;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 2.14;
    height: 40px;
}
.reservation select{
    width: 100%;
    margin: 0 10px 5px 10px;
    border-right: 0;
    box-shadow: 0 0 0;
    border:none;
    border-radius: 0;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 2.14;
    height: 40px;
}
.title{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5;
    text-align: left;
    color: #ffffff;
    margin-left: 0;
}
.booknow{
    width: 100%;
    background-color: #333333;
    border-radius: 0%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.88;
    height: 40px;
    text-align: center;
}
.roomType{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: #333333;
    padding-top: 50px;
    display: inline-block;
}
.priceDetail{
    padding-top: 55px;
    float: right;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}
.perNight1{
    /* position: relative;
    top: -11px; */
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-left: 12px;
}
.desDetail{
    font-size: 14.4px;
    font-weight: 400;
    color: #929191;
    margin-top: 16px;
}
.amenities li{
    list-style-type: none;
    line-height: 30px;
    color: #5a5a5a;
}
@media (max-width: 988px) {
    .reservation{
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 30px;
    }
  }

    