.zezo{
    
    background-color: #2db300;
    height: 90px;
    
}
.one{
    
    background-color: #ff3333;
    height: 90px;
    
}
.two{
    background-color:#0090ff;
    height: 90px;
    
    
}
.zezo1{
    
    background-color: #ccffcc;
    height: 90px;
    
}
.one1{
    background-color: #ffcccc;
    height: 90px;
    
}
.two1{
    background-color: #99ddff;
    height: 90px;
    
}
.roomnum{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.note{
    margin: 30px 0 50px 0;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    line-height: 2em;
}